@tailwind base; 
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}



html, body {
  font-family: 'Satoshi', sans-serif;
}

.text-transparent {
  -webkit-text-fill-color: transparent;
}

.stroke-blue-500 {
  -webkit-text-stroke: 1px blue;
}

.fixed {
  position: fixed;
}

.overflow-hidden {
  overflow: hidden;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.bg-black {
  background-color: black;
}

.z-50 {
  z-index: 50;
}

.space-x-10 {
  margin-left: 2.5rem;
}

.text-6xl {
  font-size: 4rem;
}

/* Responsive Background Images with Grayscale */
.bg-responsive {
  position: relative;
  overflow: hidden;
}

.bg-responsive::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/background-desktop.png');
  background-size: cover;
  background-position: center;
  z-index: -1; /* Ensure the background is behind the content */
}

/* Mobile Background Image */
@media (max-width: 767px) {
  .bg-responsive::before {
    background-image: url('/images/background-mobile.png');
  }
}



.glassmorphism-background {
  background: url('/loading-bg.svg'); /* Transparent background */
  background-size: cover;
  /* backdrop-filter: blur(10px); Frosted glass effect */
  /* -webkit-backdrop-filter: blur(10px); Safari support */
  /* border-radius: 15px; */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/ClashDisplay-Variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}



.font-clash-display {
  font-family: 'ClashDisplay', sans-serif;
}

