@tailwind base; 
@tailwind components; 
@tailwind utilities;

/* Font face declarations */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/ClashDisplay-Variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* General Styles */
html, body {
  font-family: 'Satoshi', sans-serif;
  background-color: #110E1B; /* Global background color */
}

.text-transparent {
  -webkit-text-fill-color: transparent;
}

.stroke-blue-500 {
  -webkit-text-stroke: 1px blue;
}

.fixed {
  position: fixed;
}

.overflow-hidden {
  overflow: hidden;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.bg-black {
  background-color: #110E1B; /* Change background to new color */
}

.z-50 {
  z-index: 50;
}

.space-x-10 {
  margin-left: 2.5rem;
}

.text-6xl {
  font-size: 4rem;
}

/* Responsive Background Images with Grayscale */
.bg-responsive {
  position: relative;
  overflow: hidden;
  background-color: #110E1B; /* Global background for .bg-responsive */
}

.bg-responsive::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #110E1B; /* Background color for responsive images */
  background-size: cover;
  background-position: center;
  z-index: -1; /* Ensure the background is behind the content */
}

/* Mobile Background Image */
@media (max-width: 767px) {
  .bg-responsive::before {
    background-color: #110E1B;
  }
}

/* Glassmorphism background */
.glassmorphism-background {
  background-color: #110E1B; /* Transparent background color */
  background-size: cover;
  border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

/* Font Classes */
.font-clash-display {
  font-family: 'ClashDisplay', sans-serif;
}
